<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/task 
          http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 如下实现是通过线程池执行的 -->
    <task:executor id="executor" pool-size="10"/>
    <task:scheduler id="scheduler" pool-size="10"/>
    
    <task:annotation-driven scheduler="scheduler" executor="executor" proxy-target-class="true"/>
  <!-- relationClearTask ==> beanName  autoClearRelation==>methed-->
    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="taskTest" method="myTest" cron="0/5 * * * * ? "/>
    </task:scheduled-tasks>


</beans>