<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
       	
	<!--  -->
	<context:property-placeholder location="classpath*:/system.properties" />
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	  <property name="host" value="smtp.qq.com"/>
	  <property name="username" value="824069438@qq.com"/>
	  <property name="password" value="" />
	  <property name="port" value="25" />
	  <property name="javaMailProperties">  
	    <props>  
	        <prop key="mail.smtp.auth">true</prop>   
	        <prop key="mail.smtp.timeout">25000</prop>   
	    </props>  
	</property>
	</bean>
	
	<bean id="springMailManger" class="org.zht.framework.mail.SpringMailManger">
	<!-- 	<property name="mailSender" ref="mailSender"/>
		<property name="taskExecutor" ref="taskExecutor"/> -->
	</bean>
	
	</beans>
